<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/css/iconfont.css">
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <title>fdFlow</title>
    </head>
    <body>
        <article id="app" v-cloak>
            <!--这里是vue的绑定点-->
            <nuts-welcome v-if="shouldShowWelcome"></nuts-welcome>
            <template v-else>
                <header :class="['header-title',{'filter':showSettingView}]">项目</header>
                <ul class="project-lists">
                    <!--下面这个 li 是后面新建项目的输入框-->
                    <li class="list input-ing active" v-if="addNewProject">
                        <div class="icon-finder iconfont"></div>
                        <div class="project-info">
                            <h3 class="project-name" @keyup.enter="handleFocus">
                                <input type="text" class="add-project-input" title="新项目名称" @blur="handleFocus" autofocus="autofocus"/>
                            </h3>
                        </div>
                        <div class="list-info-img"></div>
                    </li>
                    <!--这里开始循环真正的项目列表-->
                    <li :class="['list',
                        {active: active === index},
                        {running: !!dev[key] && active === index},
                        {'filter':showSettingView}]"
                        v-for="(value, key, index) in taskList" @click.stop="activeView(index, key)">
                        <div class="icon-finder iconfont" @click.stop="openProjectFinder(value)"></div>
                        <div class="project-info">
                            <h3 class="project-name">{{key}}</h3>
                            <p class="project-location" v-if="active === index">
                                {{!!dev[key]? 'http://'+dev[key].ip+':'+dev[key].port : value.path}}
                            </p>
                        </div>
                        <div :class="['list-info-img', active === index ? 'icon-xinxi iconfont' : '']" @click="openSetting(value)"></div>
                    </li>
                </ul>
            </template>
            <nuts-footer :running="running" :filter="showSettingView" :show="!shouldShowWelcome"></nuts-footer>
            <nuts-setting v-if="showSettingView"></nuts-setting>
        </article>
        <script src="./assets/vue.min.js"></script>
        <script src="./src/mainView.js"></script>
        <script src="./src/menu.js"></script>
    </body>
</html>
