<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/css/iconfont.css">
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <title>fdFlow</title>
    </head>
    <body>
        <article id="app" v-cloak>
            <!--这里是vue的绑定点-->
            <nuts-welcome v-if="shouldShowWelcome"></nuts-welcome>
            <nuts-task v-else></nuts-task>
            <nuts-footer :running="running" :filter="showSettingView" :show="!shouldShowWelcome"></nuts-footer>
            <nuts-setting v-if="showSettingView"></nuts-setting>
        </article>
        <script src="./assets/vue.2.1.10.js"></script>
        <script src="./src/mainView.js"></script>
        <script src="./src/menu.js"></script>
    </body>
</html>
