/*reset style*/
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    -webkit-user-select: none;
}

html, body, div, p, header, button, ul, li, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    padding-top: 20px;
    /*http://electron.atom.io/docs/api/frameless-window/#draggable-region*/
    -webkit-app-region: drag;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
    display: block;
    width: 70px;
    height: 28px;
    border: 1px solid #26aeeb;
    background: #fff;
    font-size: 12px;
    color: #26aeeb;
    border-radius: 3px;
    cursor: pointer;
}

button:focus, input:focus {
    outline: none;
}

input::selection {
    background: #fff;
}

li {
    list-style: none;
    padding: 0;
}

.filter {
    filter: blur(5px);
}

[v-cloak] {
    display: none;
}
