/**
 * @@project_name
 * @authors @@author
 * @date    @@date
 * @version 1.0
 */
"use strict";

class @@project {

    constructor() {
        // TODO
    }

    run() {
        // TODO
    }
}

let @@letter = new @@project();
@@letter.run();
